#Host pronghorn
#	User gwendt
#	HostName pronghorn.rc.unr.edu


# c4-log1.ucsf.edu, c4-log2.ucsf.edu 
#	uS
Host c4 c41 c4-log1
	User gwendt
	HostName c4-log1.ucsf.edu
#	ForwardX11 yes
#	ForwardX11Trusted yes
Host c42
	User gwendt
	HostName c4-log2.ucsf.edu


#	BM
Host wynton
	User gwendt
	HostName log2.wynton.ucsf.edu
#	IdentityFile ~/.ssh/tipcc

#	uS
Host ucsf tipcc
	User gwendt
	HostName cclc01.ucsf.edu
#	IdentityFile ~/.ssh/tipcc
#	ForwardX11 yes
#	ForwardX11Trusted yes

	#	Need both
#	ForwardX11 yes
#	ForwardX11Trusted yes
#	XAuthLocation /opt/X11/bin/xauth
#
#	#	for jupyter
#	LocalForward 8888 localhost:8888	
#	#	jupyter notebook --no-browser 
#
#	#	for rclone
#	LocalForward 53682 localhost:53682	

Host herv
	User jake
	#	Lombardi Rm 237
	#HostName 134.197.47.186
	#	Stephen's Old office in SOM
	#HostName 134.197.54.162
	#	Dingsheng's Old office in SOM
	HostName 134.197.54.43
	#	Need both
	ForwardX11 yes
	ForwardX11Trusted yes
	XAuthLocation /opt/X11/bin/xauth

	#	for jupyter
	LocalForward 8888 localhost:8888	
	#	jupyter notebook --no-browser 

	#	for rclone
	LocalForward 53682 localhost:53682	

#	Berkeley Connections may require Cisco AnyConnect VPN connection
#Host cube
#	User KingJake
#	HostName 169.229.196.233


Host g genepi genepi1 genepi1.berkeley.edu
	User jwendt
	HostName ec1.berkeley.edu
#	IdentityFile ~/.ssh/genepi
	IdentityFile ~/.ssh/genepi_nopassword
	Port 2235
#	Port 2234
#	u5S!
#	HostName genepi2.berkeley.edu
Host dhhs dpbhsftp.nv.gov 
	HostName dpbhsftp.nv.gov 
	User dhhs-ad\jwendt
	Port 22
Host rdots
	User ruby
	HostName egoweb
#	HostName 192.168.44.99
#	HostName 192.168.44.191
#	HostName 192.168.29.227
	IdentityFile ~/.ssh/ruby
Host dots 192.168.44.99
#Host dots 192.168.29.227
	User dots
#	HostName 192.168.29.227
	HostName 192.168.44.99
	IdentityFile ~/.ssh/egoweblocalkey
Host chirp 134.197.21.70
	HostName 134.197.21.70
Host aris 134.197.21.71
	HostName 134.197.21.71

#	ssh -L 9980:localhost:80 -L 9443:localhost:443 -L 9300:localhost:3000 -L 9344:localhost:3443 ego
#	open localhost:9980 in browser worked for me 123hello!
Host ego 134.197.21.73
	HostName 134.197.21.73


#	This doesn't actually work. Just noted.
#sudo ssh -L 9980:localhost:80 -L 9443:localhost:443 -L 9300:localhost:3000 -L 9344:localhost:3443 o
Host o odms odms.berkeley.edu
	User jakewendt
	HostName odms.berkeley.edu
	IdentityFile ~/.ssh/cal_id_rsa

